In [8]:
#Using MS SQL Express -Created Database named:FactStore. Dim Products, Dim Stores & FactStore Tables were created too.
#Data extracted to /dataextract/yy/MM/dd/factstore using pipe delimited format >> |

#List the Extracted Data Files
import os
def files(path):
    for file in os.listdir(path):
        if os.path.isfile(os.path.join(path, file)):
            yield file

for file in files("./dataextract/yy/MM/dd/factstore"):
    print (file)

DimProducts.txt
DimStores.txt
FactStore.txt

In [9]:
import pandas as pd
#Load FactStore Data schema file.

dfFS = pd.read_csv('./dataextract/yy/MM/dd/factstore/FactStore.txt', sep='|')
#Load into Panda DataFrame
df = pd.DataFrame(dfFS )
#Everything is in String
print(df.dtypes)

DateID           object
StoreID          object
ProductID        object
OnHandQty        object
OnOrderQty       object
DaysInStock      object
MinDayInStock    object
MaxDayInStock    object
dtype: object

In [10]:
#Convert string columns to the required data types
df['DateID'] = pd.to_datetime(df['DateID'], format='%YYYY-%MM-%dd')
df["StoreID"] = df["StoreID"].astype(str).astype(int)
df["ProductID"] = df["ProductID"].astype(str).astype(int)
df["OnHandQty"] = df["OnHandQty"].astype(str).astype(int)
df["OnOrderQty"] = df["OnOrderQty"].astype(str).astype(int)
df["DaysInStock"] = df["DaysInStock"].astype(str).astype(int)
df["MinDayInStock"] = df["MinDayInStock"].astype(str).astype(int)
df["MaxDayInStock"] = df["MaxDayInStock"].astype(str).astype(int)

print (df.dtypes)

DateID           datetime64[ns]
StoreID                   int32
ProductID                 int32
OnHandQty                 int32
OnOrderQty                int32
DaysInStock               int32
MinDayInStock             int32
MaxDayInStock             int32
dtype: object

In [15]:
##1.Query average number of stocks on hand by category.Load the DataSet.Encountered unicode error.
#Used ISO-8859-1 to be compatible with Windows
dfPrd = pd.read_csv('./dataextract/yy/MM/dd/factstore/DimProducts.txt', sep='|',encoding = "ISO-8859-1", engine='python')
dfPrd.info()

dfPrd.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 6 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ProductID               2517 non-null   int64
 1   ProductName             2517 non-null   object
 2   ProductDescription      2516 non-null   object
 3   ProductCategoryName     2517 non-null   object
 4   ProductSubcategoryName  2517 non-null   object
 5   Manufacturer            2517 non-null   object
dtypes: int64(1), object(5)
memory usage: 118.1+ KB

,ProductID,ProductName,ProductDescription,ProductCategoryName,ProductSubcategoryName,Manufacturer
0,195,Litware Home Theater System 5.1 Channel M510 B...,"1000 watts over 5 channels, HDMI up scaling to...",TV and Video,Home Theater System,"Litware, Inc."
1,196,Litware Home Theater System 2.1 Channel E211 B...,"2.1 channel home theater systems, includes 2 f...",TV and Video,Home Theater System,"Litware, Inc."
2,197,Litware Home Theater System 2.1 Channel E212 B...,"2.1 channel home theater system, total power: ...",TV and Video,Home Theater System,"Litware, Inc."
3,198,Litware Home Theater System 4.1 Channel M411 B...,4.1 Channel Front Surround. 1080p/720p up conv...,TV and Video,Home Theater System,"Litware, Inc."
4,199,Litware Home Theater System 4.1 Channel M412 B...,"4.1 Channel Front Surround, USB host, analog i...",TV and Video,Home Theater System,"Litware, Inc."

In [46]:
#Expected Result #1: Query average number of stocks on hand by category.
#Not possible to get the Ave number as each category name is being counted once each time.

AveStocks =dfPrd.groupby("ProductCategoryName")["ProductCategoryName"].count()#.mean()
print(AveStocks)

ProductCategoryName
Audio                            115
Cameras and camcorders           372
Cell phones                      285
Computers                        606
Games and Toys                   166
Home Appliances                  661
Music, Movies and Audio Books     90
TV and Video                     222
Name: ProductCategoryName, dtype: int64

In [27]:
#Expected Result #2: Query average number of stocks on hand by store
#The Dim Store Table isnt linked to the Dim Products by a foreign id hence we can't join the 2 tables together
#I can only tell you how many types of Stores there are

dfStores = pd.read_csv('./dataextract/yy/MM/dd/factstore/DimStores.txt', sep='|',encoding = "ISO-8859-1", engine='python')

dfSto = dfStores.groupby("StoreType")["StoreName"].count()
print(dfSto)

StoreType
Catalog       1
Online        3
Reseller      3
Store       298
Name: StoreName, dtype: int64